<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title><![CDATA[{{ feed.title }}]]></title>
        <description><![CDATA[{{ feed.description }}]]></description>
        <link>{{ feed.link }}</link>
        <atom:link href="{{ feed.link }}" rel="self" type="application/rss+xml"/>
        <language>{{ feed.language }}</language>
        <lastBuildDate>{{ feed.lastBuildDate.format('D, d M Y H:i:s O') }}</lastBuildDate>
        <generator>RSS Feed Generator Boilerplate</generator>
        {% if feed.imageUrl %}
        <image>
            <url>{{ feed.imageUrl }}</url>
            <title><![CDATA[{{ feed.title }}]]></title>
            <link>{{ feed.link }}</link>
        </image>
        {% endif %}
        {% for item in feed.items %}
        <item>
            <title><![CDATA[{{ item.title }}]]></title>
            <description><![CDATA[{{ item.description }}]]></description>
            <link>{{ item.link }}</link>
            <guid isPermaLink="{{ item.link == item.guid ? 'true' : 'false' }}">{{ item.guid }}</guid>
            <pubDate>{{ item.pubDate.format('D, d M Y H:i:s O') }}</pubDate>
            {% if item.category %}
            <category><![CDATA[{{ item.category }}]]></category>
            {% endif %}
            {% if item.author %}
            <author><![CDATA[{{ item.author }}]]></author>
            {% endif %}
        </item>
        {% endfor %}
    </channel>
</rss>